html, body{
	margin: 0;
	padding: 0;
}

#container{
	width: 600px;
	height: 270px;
	margin: 5em auto;
	padding: 1em;
	border: 2px dashed #555;
	background-color: #F8F8F8;
	box-shadow: 0px 0px 15px 5px darkgray;
}

.left{
	float: left;
}
.right{
	float: right;
}
#inputs h1{
	color: #888;
	text-align: center;
}

#inputs, #inputs input[type="text"]{
	width: 200px;
}
#inputs input[type="number"]{
	text-align: right;
	width: 3em;
}

#displays{
	width: 390px;
	height: 260px;
	overflow-x: hidden;
	overflow-y: auto;
}
#displays .msg{
	border: 1px dashed #666;
	width: 350px;
	margin: 5px;
	padding: 5px;
}
#displays .msg:hover, .button:hover{
	background-color: #F0F0F0;
	box-shadow: 0px 0px 3px 3px darkgray;
}

#displays .delete{
	color: red;
	display: none;
	cursor: pointer;
}

#nums{
	width: 100%;
}

.button{
	margin: .3em .4em;
	display: inline-block;
	border: 2px dashed #555;
	text-align: center;
	padding: .1em 1em;
}
#error{
	color: red;
	text-align: center;
}

#footer{
	clear: both;	
	width: 100%;
	text-align: center;
}